/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "DM Sans", serif;
  font-size: 18px;
}

h1, h2 {
  font-family: "Abril Fatface", serif;
}

.header {
  background: rgb(161, 44, 106);
  background: linear-gradient(180deg, rgb(116, 41, 99) 0%, rgb(161, 44, 106) 78%);
  height: 120px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 10%;
}
.header__logo__image {
  width: 60%;
}
.header__navigation {
  width: 55%;
}
.header__navigation ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
.header__navigation__white {
  text-decoration: none;
  color: #fff;
  line-height: 105px;
}
.header__navigation__orange {
  text-decoration: none;
  color: #EF8545;
  line-height: 105px;
}
.header__devis {
  width: 9%;
  display: flex;
  align-items: center;
}
.header__devis__button {
  padding: 7px 20px;
  border-radius: 15px;
  border: none;
  background: rgb(240, 141, 65);
  background: linear-gradient(180deg, rgb(240, 141, 65) 0%, rgb(230, 54, 114) 78%);
}
.header__devis__button a {
  color: #fff;
  text-decoration: none;
}
.header__social {
  width: 9%;
  display: flex;
  justify-content: space-around;
}

.footer {
  background: rgb(161, 44, 106);
  background: linear-gradient(180deg, rgb(161, 44, 106) 0%, rgb(116, 41, 99) 78%);
  padding-top: 10px;
}
.footer__main {
  display: flex;
  justify-content: center;
}
.footer__main__left {
  width: 20%;
}
.footer__main__left__image {
  width: 30%;
}
.footer__main__left__contact__lien {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.footer__main__left__contact .footer__phone {
  display: flex;
  margin: 3% 0%;
}
.footer__main__left__contact .footer__localisation {
  display: flex;
  margin: 3% 0%;
}
.footer__main__left__social {
  display: flex;
}
.footer__main__left__social__lien {
  width: 10%;
}
.footer__main__center {
  width: 25%;
  padding-top: 2%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__main__center__lien {
  color: #fff;
  text-decoration: none;
}
.footer__main__right {
  width: 25%;
  padding-top: 2%;
  padding-left: 2%;
}
.footer__main__right__titre {
  color: #EF8545;
}
.footer__main__right__paragraph {
  color: #fff;
}
.footer__bottom__hr {
  margin-top: 20px;
  border-color: rgba(245, 245, 220, 0.7);
}
.footer__bottom__copyright {
  color: #fff;
  margin-top: 15px;
  margin-left: 15px;
}

body {
  background-color: #A12C6A;
}

.main__title {
  text-align: center;
  font-size: 70px;
  color: #EF8545;
  margin-bottom: 25px;
}
.main__paragraphe {
  text-align: center;
  font-size: 30px;
  width: 80%;
  color: #fff;
  margin: auto;
  margin-bottom: 35px;
}
.main__map {
  margin: auto;
}
.main__coordonne {
  margin: auto;
  width: 45%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.main__coordonne__left__contact__phone {
  display: flex;
  margin-bottom: 15px;
}
.main__coordonne__left__contact__localisation {
  display: flex;
}
.main__coordonne__left__contact__lien {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-left: 15px;
}
.main__coordonne__right__social {
  display: flex;
  float: right;
}
.main__coordonne__right__social__lien {
  margin-right: 15px;
}
.main__button {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  justify-content: space-around;
  margin-bottom: 100px;
}
.main__button__btn {
  border: 2px solid #EF8545;
  background-color: transparent;
  color: white;
  font-size: 30px;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}
.main__devis {
  display: none;
}
.main__devis__title {
  text-align: center;
  font-size: 50px;
  color: #EF8545;
  margin-bottom: 25px;
}
.main__devis__paragraphe {
  text-align: center;
  font-size: 30px;
  width: 80%;
  color: #fff;
  margin: auto;
  margin-bottom: 35px;
}
.main__devis__form {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  height: auto;
}
.main__devis__form .input {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  width: 40%;
}
.main__devis__form__top {
  display: flex;
  justify-content: space-between;
}
.main__devis__form__center {
  display: flex;
  justify-content: space-between;
}
.main__devis__form__bottom {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  height: 300px;
  width: 100%;
}
.main__devis__form__validate {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  float: right;
}
.main__question {
  display: none;
}
.main__question__title {
  text-align: center;
  font-size: 50px;
  color: #EF8545;
  margin-bottom: 25px;
}
.main__question__paragraphe {
  text-align: center;
  font-size: 30px;
  width: 80%;
  color: #fff;
  margin: auto;
  margin-bottom: 35px;
}
.main__question__form {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  height: auto;
}
.main__question__form .input {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  width: 40%;
}
.main__question__form__top {
  display: flex;
  justify-content: space-between;
}
.main__question__form__center {
  display: flex;
  justify-content: space-between;
}
.main__question__form__bottom {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  height: 300px;
  width: 100%;
}
.main__question__form__validate {
  background-color: #EF8545;
  color: white;
  padding: 15px;
  border: none;
  font-size: 25px;
  margin-bottom: 15px;
  float: right;
}
.main__hr {
  border: 1px solid white;
}/*# sourceMappingURL=contact.css.map */