/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "DM Sans", serif;
  font-size: 18px;
}

h1, h2 {
  font-family: "Abril Fatface", serif;
}

.header {
  background: rgb(161, 44, 106);
  background: linear-gradient(180deg, rgb(116, 41, 99) 0%, rgb(161, 44, 106) 78%);
  height: 120px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 10%;
}
.header__logo__image {
  width: 60%;
}
.header__navigation {
  width: 55%;
}
.header__navigation ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
.header__navigation__white {
  text-decoration: none;
  color: #fff;
  line-height: 105px;
}
.header__navigation__orange {
  text-decoration: none;
  color: #EF8545;
  line-height: 105px;
}
.header__devis {
  width: 9%;
  display: flex;
  align-items: center;
}
.header__devis__button {
  padding: 7px 20px;
  border-radius: 15px;
  border: none;
  background: rgb(240, 141, 65);
  background: linear-gradient(180deg, rgb(240, 141, 65) 0%, rgb(230, 54, 114) 78%);
}
.header__devis__button a {
  color: #fff;
  text-decoration: none;
}
.header__social {
  width: 9%;
  display: flex;
  justify-content: space-around;
}

.footer {
  background: rgb(161, 44, 106);
  background: linear-gradient(180deg, rgb(161, 44, 106) 0%, rgb(116, 41, 99) 78%);
  padding-top: 10px;
}
.footer__main {
  display: flex;
  justify-content: center;
}
.footer__main__left {
  width: 20%;
}
.footer__main__left__image {
  width: 30%;
}
.footer__main__left__contact__lien {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.footer__main__left__contact .footer__phone {
  display: flex;
  margin: 3% 0%;
}
.footer__main__left__contact .footer__localisation {
  display: flex;
  margin: 3% 0%;
}
.footer__main__left__social {
  display: flex;
}
.footer__main__left__social__lien {
  width: 10%;
}
.footer__main__center {
  width: 25%;
  padding-top: 2%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__main__center__lien {
  color: #fff;
  text-decoration: none;
}
.footer__main__right {
  width: 25%;
  padding-top: 2%;
  padding-left: 2%;
}
.footer__main__right__titre {
  color: #EF8545;
}
.footer__main__right__paragraph {
  color: #fff;
}
.footer__bottom__hr {
  margin-top: 20px;
  border-color: rgba(245, 245, 220, 0.7);
}
.footer__bottom__copyright {
  color: #fff;
  margin-top: 15px;
  margin-left: 15px;
}

.main__top {
  width: 40%;
  height: 500px;
  margin: 50px auto;
  background-image: url("../src/image/campagne_web.jpg");
  position: relative;
  z-index: 0;
  text-align: center;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}
.main__top__filter {
  background: rgb(241, 146, 63);
  background: linear-gradient(180deg, rgba(241, 146, 63, 0.9) 0%, rgba(230, 50, 116, 0.7) 78%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.main__top__title {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  width: 65%;
  margin: auto;
  padding-top: 120px;
  font-size: 42px;
}
.main__top__button {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  background-color: #932B68;
  border: none;
  border-radius: 15px;
  height: 50px;
}
.main__top__button__lien {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
}
.main__bubble {
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
}
.main__bubble__title {
  color: #EF8545;
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 35px;
}
.main__bubble__underline {
  background-color: #932B68;
  width: 120px;
  height: 3px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.main__bubble__flex {
  display: flex;
  justify-content: space-around;
}
.main__bubble__flex__box {
  margin-top: 50px;
  width: 20%;
}
.main__bubble__flex__box__icon {
  border-radius: 50%;
  background-color: #932B68;
  height: 250px;
}
.main__bubble__flex__box__paragraphe {
  margin-top: 15px;
  color: #EF8545;
  text-align: center;
  font-size: 25px;
}
.main__service {
  margin-bottom: 70px;
}
.main__service__title {
  color: #EF8545;
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 35px;
}
.main__service__underline {
  background-color: #932B68;
  width: 120px;
  height: 3px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}
.main__service__box {
  display: flex;
  width: 100%;
  height: 600px;
}
.main__service__box .carte1 {
  background-image: url("../src/image/strategie_marketing.jpg");
}
.main__service__box .carte2 {
  background-image: url("../src/image/reseaux_sociaux.jpg");
}
.main__service__box .carte3 {
  background-image: url("../src/image/campagne_marketing.jpg");
}
.main__service__box .carte4 {
  background-image: url("../src/image/edition_contenu.jpg");
}
.main__service__box__carte {
  width: 25%;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
}
.main__service__box__carte__filter {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 600px;
  background-color: rgba(147, 43, 104, 0.7);
}
.main__service__box__carte__title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 50%;
  margin-right: 40px;
}
.main__service__box__carte__div {
  text-align: center;
}
.main__service__box__carte__div__button {
  position: relative;
  z-index: 2;
  background: rgb(231, 54, 114);
  background: linear-gradient(0deg, rgb(231, 54, 114) 0%, rgb(240, 144, 64) 78%);
  height: 60px;
  border-radius: 25px;
  margin: 10% auto 0;
  border: none;
  width: 200px;
  text-align: center;
}
.main__service__box__carte__div__button__lien {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.main__confiance__title {
  color: #EF8545;
  margin: auto;
  text-align: center;
  font-size: 35px;
}
.main__confiance__div {
  text-align: center;
}
.main__confiance__div__button {
  position: relative;
  z-index: 2;
  background: rgb(231, 54, 114);
  background: linear-gradient(0deg, rgb(231, 54, 114) 0%, rgb(240, 144, 64) 78%);
  height: 80px;
  border-radius: 25px;
  margin: 25px auto;
  border: none;
  width: 300px;
  text-align: center;
}
.main__confiance__div__button__lien {
  color: white;
  text-decoration: none;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */